.App {
    text-align: center;
}

.header {
    font-weight: 500;
    font-size: xx-large;
    border: 2px solid;
    background-color: blueviolet;
    color: white;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
}

.formHeader {
    margin-left: 12px;
}

.add-contact {
    /* text-align:  center; */
    font-size: x-large;
    font-weight: 500;
    font-family: fantasy;
    margin-left: 12px;
    padding: 10px;
}

label {
    font-size: 20px;
}

input {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
}

.btn {
    padding: 7px;
    border:1px solid;
    border-radius: 6px;
    background-color: blueviolet;
    color: white;
    font-size: large;
}

.ContactHeader {
    font-size: x-large;
    font-weight: 500;
    font-family: fantasy;
    margin-top: 10px;
    margin-left: 12px;
    padding: 10px;
}

.contact-list {
    display: flex;
    justify-content: space-between;
    border: 2px solid blueviolet;
    background: lightcyan;
    border-radius: 4px;
    margin-left: 12px;
    margin-right: 5px;
    margin-bottom: 4px;
}